@font-face {
  font-family: "SF Pro Text";
  src: url(SFProText-Regular.ttf);
}
@font-face {
  font-family: "SF Pro Display";
  src: url(SF-Pro-Display-Regular.otf);
}
body {
  background: linear-gradient(
      180deg,
      rgba(28, 28, 30, 0.96) 0%,
      rgba(28, 28, 30, 0.86) 100%
    ),
    url(background.png), lightgray 50% / cover no-repeat;
}
#profile_avatar_tgLink {
  width: 100%;
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
#inner_avatar_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
#profile_avatar {
  display: flex;
  align-items: center;
  gap: 8px;
}
#profile_avatar > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
#tgLink {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 32px;
  background: var(
    --Gray-gradient,
    linear-gradient(302deg, #1c1c1e 0%, #48484a 100%)
  );
}
#teletype_blocks_div {
  align-items: center;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: center;
}
.teletype_block {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid var(--Yellow-gradient, #f5ea99);
  padding: 8px;
}
.teletype_block > div {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 12px;
  background: url(product_example.png), lightgray 50%;
  background-size: cover;
  padding: 8px;
}
.teletype_block > div > p {
  color: #fff;

  /* Default/Bold/Subheadline */
  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.5px;
}
.quadro_blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gray_block {
  display: flex;
  height: 120px;
  width: 168px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  background: var(
    --Gray-gradient,
    linear-gradient(302deg, #1c1c1e 0%, #48484a 100%)
  );
  margin: 8px;
}
.gold_block {
  display: flex;
  height: 120px;
  width: 168px;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  background: var(
    --Yellow-gradient,
    linear-gradient(93deg, #f5ea99 -3.52%, #db9b45 100%)
  );
  margin: 8px;
}
.header_message {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 16px;
  /* align-self: stretch; */
  border-radius: 16px;
  margin: 16px;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(91deg, #3a3a3c 0.19%, #262626 99.84%);
}
#header_message_left {
  display: flex;
  flex-direction: column;
  align-items: left;
}
#manager_name {
  color: var(--White, #ececec);
  text-align: center;

  /* Default/Bold/Subheadline */
  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.5px;
}
#manager_position {
  text-align: center;

  /* Default/Regular/Caption2 */
  font-family: SF Pro Text;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 118.182% */
  letter-spacing: 0.066px;
  background: var(
    --Yellow-gradient,
    linear-gradient(93deg, #f5ea99 -3.52%, #db9b45 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header_message_right {
  width: 243px;
  height: 50px;
  flex-shrink: 0;
  fill: var(
    --Yellow-gradient,
    linear-gradient(93deg, #f5ea99 -3.52%, #db9b45 100%)
  );
  stroke-width: 1px;
  padding: 0px 8px;
  word-wrap: anywhere;
  stroke: var(--gray-04-dark, #3a3a3c);
  background-image: url(header_msg.svg);
  background-size: contain;
}
#header_message_right > p {
  color: var(--Dark, #0a0e0f);

  /* Default/Regular/Subheadline */
  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.24px;
  padding: 5px;
}
.header_notification {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 0px 0px 16px 16px;
  background: var(--gray-04-dark, #3a3a3c);
}
.header_notification > p {
  color: var(--White, #ececec);

  /* Default/Regular/Footnote */
  font-family: SF Pro Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  letter-spacing: -0.078px;
}
.shopping_cart_icon {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Yellow-gradient, #f5ea99);
}
.shopping_cart_icon > div {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2.77px 1.68px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.inner_arrow_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.inner_arrow_text > p {
  color: var(--White, #ececec);

  /* Default/Bold/Title3 */
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.38px;
}
.gold_block > p {
  color: var(--gray-06-dark, #1c1c1e);

  /* Default/Bold/Title3 */
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.38px;
}
.inner_logo_gold_block {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid var(--Gray-gradient, #1c1c1e);
}
.cart_icon {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Yellow-gradient, #f5ea99);
}
#cart_block_bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#cart_block_bottom > p {
  color: var(--White, #ececec);

  /* Default/Bold/Subheadline */
  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.5px;
}
.sale {
  /* Default/Bold/Footnote */
  font-family: SF Pro Text;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 138.462% */
  letter-spacing: -0.078px;
  background: var(
    --Yellow-gradient,
    linear-gradient(93deg, #f5ea99 -3.52%, #db9b45 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#our_products {
  width: 100%;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  background: var(--gray-06-dark, #1c1c1e);
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.product_logo {
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Yellow-gradient, #f5ea99);
}
.product_description_golden {
  text-align: center;

  /* Default/Bold/Caption1 */
  font-family: SF Pro Text;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  background: var(
    --Yellow-gradient,
    linear-gradient(93deg, #f5ea99 -3.52%, #db9b45 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header_production {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
#header_production > p {
  color: var(--White, #ececec);

  /* Default/Bold/Title2 */
  font-family: SF Pro Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 127.273% */
  letter-spacing: 0.35px;
}
.small_products_header {
  display: flex;
  width: 100%;
  padding: 0px 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.small_products_header > p {
  color: var(--White, #ececec);
  text-align: center;

  /* Default/Bold/Headline */
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.408px;
}
.products_cards {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.products_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.card_image {
  height: 110px;
  width: 168px;
  border-radius: 16px 16px 0px 0px;
}
.card_info {
  display: flex;
  padding: 0px 8px 8px 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  height: 138px;
  align-self: stretch;
  background: var(
    --Gray-gradient,
    linear-gradient(302deg, #1c1c1e 0%, #48484a 100%)
  );
  border-radius: 0px 0px 16px 16px;
  width: 168px;
}
.card_description {
  color: var(--White, #ececec);

  /* Default/Regular/Body */
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.408px;
}
.card_price {
  color: var(--White, #ececec);

  /* Default/Bold/Title3 */
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.38px;
}
.card {
  background: transparent;
  margin: 8px;
}
.gold_button {
  display: flex;
  padding: 12px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-style: none;
  border-radius: 12px;
  background: var(
    --Yellow-gradient,
    linear-gradient(93deg, #f5ea99 -3.52%, #db9b45 100%)
  );
  color: var(--BG-Black, #181818);
  text-align: center;

  /* Default/Bold/Headline */
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.408px;
}
.review {
  display: flex;
  padding: 16px;
  margin: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 16px;
  background: var(--gray-04-dark, #3a3a3c);
  color: var(--label-color-dark-primary, #fff);

  /* Default/Regular/Subheadline */
  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: -0.24px;
  word-wrap: anywhere;
}
#review_button_div {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  background: transparent;
  align-self: stretch;
}
.leave_review {
  display: flex;
  background: transparent;
  padding: 12px 27px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--Yellow-gradient, #f5ea99);
  color: var(--White, #ececec);
  text-align: center;

  /* Default/Bold/Headline */
  font-family: SF Pro Text;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.408px;
}
